/target
!/target/index.html
!/target/style.css

/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hg/

/node_modules
/yarn.lock
/package-lock.json
/*.log
.shadow-cljs/